---
import Layout from '../components/Layout.astro';
---

<Layout title="Netlify Edge functions with Astro">
	<main>
		<h1>Netlify Edge functions with Astro</h1>

		Welcome, visitor from COUNTRYNAME!
	</main>
</Layout>

<style>
</style>
